<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.wabaoge.testPlugin" version="1.0.0" 
    xmlns="http://apache.org/cordova/ns/plugins/1.0" 
    xmlns:android="http://schemas.android.com/apk/res/android">
    <name>CordovaPluginSmock1</name>
    <js-module name="CordovaPluginSmock1" src="www/CordovaPluginSmock1.js">
        <clobbers target="cordova.plugins.CordovaPluginSmock1" />
    </js-module>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="CordovaPluginSmock1">
                <param name="android-package" value="com.wabaoge.testPlugin.CordovaPluginSmock1" />
            </feature>
        </config-file>

        <config-file parent="/*" target="AndroidManifest.xml">
            <uses-permission android:name="android.permission.INTERNET"/>
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
            <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
            <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            
        </config-file>
        

        <framework src="src/android/build.gradle" custom="true" type="gradleReference"/>
        <source-file src="src/android/CordovaPluginSmock1.java" target-dir="src/com/wabaoge/testPlugin/CordovaPluginSmock1" />
        <resource-file src="src/android/libs/jd_crash_lib_release_210.jar" target="libs/jd_crash_lib_release_210.jar"/>
        <source-file src="src/android/libs/JDSDK_h.jar" target-dir="libs"/>
    </platform>
</plugin>